version: "3.8"

services:
  # api:
  #   build: 
  #       context: ./
  #       dockerfile: Dockerfile
  #   container_name: api
  #   image: api:latest
  #   restart: always
  #   hostname: api
  #   ports:
  #     - 1323
  #   volumes:
  #     - ./static:/go/src/assessment-test/static
    
  database:
    container_name: database
    image: postgres:12.8
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=assessment_test
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data 

volumes:
  db: